name: version and covreport

on: 
  push:
  workflow_dispatch:
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fails-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up Miniconda (Python 3.11)
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: '3.11'
        activate-environment: ci
        auto-activate-base: false
        channels: conda-forge
    - name: Install dependencies
      run: |
        conda install -y pip setuptools wheel
        pip install ".[dev]"
    
    - name: Lint with flake8
      run: |
        conda install -y flake8
        flake8
        # stop the build if there are Python syntax errors or undefined names
        # flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: |
        conda install -y pytest
        pytest

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: coverage.xml
